.Block {
  border: 3px solid red;
  display: flex;
}

.Block.Selected {
  background-color: red;
}

.BlockType {
  width: 200px;
  border: 2px solid blue;
}

.BlockContents {
  border: 2px solid yellow;
  flex-grow: 1;
}

.BlockOptions {
  width: 200px;
  height: 24px;
  overflow: visible;
  border: 2px solid green;
}

.Row {
  height: 24px;
  border: 1px solid purple;
}

.Cell {
  border: 1px solid black;
}

.Cell.Selected {
  background: purple;
}
