.Block {
  --rowHeight: 32px;
  display: flex;
  position: absolute;
  width: 100%;
}

.Block.Selected {
  color: var(--base2);
  background-color: var(--base02);
  border-radius: 8px 0 0 8px;
}

.BlockAddress {
  height: var(--rowHeight);
  display: flex;
  padding: 0 4px;
  align-items: center;
  width: 200px;
}

.BlockActions {
  display: flex;
  align-items: center;
  height: var(--rowHeight);
  width: 150px;
}

.BlockContents {
  flex-grow: 1;
}

.BlockOptions {
  width: 200px;
}

.BlockOptionsOverflow {
  height: var(--rowHeight);
}

.BlockOptionList {
  padding: 8px;
  background: var(--base02);
  border-radius: 8px 0 0 8px;
}

.Row {
  height: var(--rowHeight);
  display: flex;
  align-items: center;
}

.Cell {
  padding: 3px 5px;
  cursor: pointer;
}

.Text .Cell {
  padding: 3px 1px;
}

.Pixel .Cell {
  padding: 0;
  border: 1px solid transparent;
}

.Pixel.Row {
  height: 8px;
}

.Cell.Selected {
  background: var(--yellow);
  color: var(--base03);
  border-radius: 8px;
}

.Pixel .Cell.Selected {
  border-color: var(--yellow);
}
